[submodule "3rdparty/log4cxx"]
	path = 3rdparty/log4cxx
	url = git@github.com:RunqiuBao/log4cxx.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/opencv_contrib"]
	path = 3rdparty/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "3rdparty/Pangolin"]
	path = 3rdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "3rdparty/g2o"]
	path = 3rdparty/g2o
	url = git@github.com:RunqiuBao/g2o.git
[submodule "3rdparty/pcl"]
	path = 3rdparty/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
